@import 'tailwindcss';
:root {
  --font-urbanist: 'Urbanist', sans-serif;
}

@theme inline {
  --default-font-family: var(--font-urbanist), var(--font-sans);

  --color-gray: #606060;
  --color-dark: #1f1f1f;
}

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
}

@utility heading-primary {
  @apply text-5xl font-bold mb-2 text-secondary;
}
@utility heading-secondary {
  @apply text-4xl font-bold mb-2 text-secondary;
}
@utility heading-quaternary {
  @apply text-2xl font-bold mb-2 text-secondary;
}
